<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JWT Аутентификация</title>
    <link rel="stylesheet" href="./static/frontend/styles.css">
</head>
<body>
    <h1>JWT Аутентификация</h1>

    <div id="login-container">
        <h2>Вход</h2>
        <input type="text" id="username" placeholder="Логин">
        <input type="password" id="password" placeholder="Пароль">
        <button onclick="login()">Войти</button>
    </div>

    <div id="content-container" style="display: none;">
        <h2>Приватный контент</h2>
        <button onclick="getProtectedData()">Получить данные</button>
        <p id="protected-data"></p>
        <button onclick="logout()">Выход</button>
    </div>

    <script src="./static/frontend/script.js"></script>
</body>
</html>
